<head>
    {{>websiteHeader}}
    {{{body}}}
</head>
<section class="hero-section" id="aboutus">
    <div class="container">
        <div class="heros">
            <div class="row">
                <div class="col-lg-12">
                    <div class="hero-details text-center">
                        <h3 class="cursive text-center">Prayer Circle</h3>
                        <h1 class="text-white text-center d-flex justify-content-center mb-4">Join Hands in
                            Spiritual Unity
                        </h1>
                        <ul class="ps-0 text-white d-flex flex-wrap gap-2 justify-content-center align-items-center"
                            style="list-style: none;">
                            <li class="text-yeloish">Home</li>
                            <li>></li>
                            <li>Prayer Circle</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="listing" class="p-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="listing d-flex justify-content-between align-items-center flex-wrap gap-2">
                    <div>
                        <h3 class="mb-0 fw-bold">Prayer Circle Groups Listings</h3>
                        <p class="mb-0 text-black-50">( Showing {{prayerCircleData.length}} Results )
                        </p>
                    </div>
                    <div class="search d-flex gap-3">
                        <form action="" class="position-relative d-flex gap-3" id="search-list">
                            <div>
                                <input type="text" class="form-control form-custom ps-3" style="width: 320px;"
                                    placeholder="Search...">
                                <a href="#" class="btn btn-danger search-icon"
                                    style="right: 0;
                                    padding: 10px 18px;
                                    margin-top: 0px;
                                    border-top-left-radius: 0px !important;border-bottom-left-radius: 0px !important;border-radius: 16px;"><i
                                        class="fa fa-search"></i></a>
                            </div>
                        </form>
                        <div class="filter-btn">
                            <a href="#" class="bg-light-50 " data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="../../assets/images/icons/filter.png" alt="" class="img-fluid">
                            </a>
                            <div class="dropdown-custom dropdown-menu py-0">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="profile">
                                            <div class="info">
                                                <div
                                                    class="d-flex justify-content-between align-items-center flex-wrap mb-3">
                                                    <h5 class="mb-0">Filters</h5>
                                                    <a href="#" class="clear-all">Clear all</a>
                                                </div>
                                                <div class="options  mt-2">
                                                    <form action="">
                                                        <div class="custom-margin">
                                                            <label for="date">Search keyword</label>
                                                            <input type="search" class="form-control form-custom"
                                                                placeholder="Search...">
                                                        </div>
                                                        <div class="custom-margin">
                                                            <label for="date">Search</label>
                                                            <select name="" class="form-control" id="">
                                                                <option value="select" disabled hidden selected>
                                                                    Select</option>
                                                                <option value="mircle">Miracle</option>
                                                            </select>
                                                        </div>
                                                        <div class="custom-margin">
                                                            <label for="date">From</label>
                                                            <input type="date" class="form-control form-custom"
                                                                placeholder="Search...">
                                                        </div>
                                                        <div class="custom-margin">
                                                            <label for="date">To</label>
                                                            <input type="date" class="form-control form-custom"
                                                                placeholder="Search...">
                                                        </div>
                                                        <div class="text-center">
                                                            <button type="submit"
                                                                class="btn btn-custom mt-0">Submit</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="create-btn">
                            <a href="/website/createGroup" class="btn btn-outline-red">
                                Create a Group
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-50 pb-50 circle-group-listing">
            {{#each prayerCircleData}}
            <div class="col-lg-4 col-md-12 col-sm-12 col-12 mb-7" groupId={{_id}}>
                <div class="circle-video videos-div position-relative">
                    {{!-- <video src="../../assets/videos/prayer.mp4" class="mb-10px" controls="" width="100%"></video>
                    --}}
                    <img src="/assets/images/groupImage/{{decryptImage groupImage}}" alt="" class="img-fluid">
                    <!-- <img src="../assets/images/circle-video.png" alt=""> -->
                    <!-- <div class="overlay"></div>
                            <div class="video-play-icon">
                                <a href="#">
                                    <img src="../assets/images/play-icon.png" width="70" height="70" alt="">
                                </a>
                            </div> -->
                </div>
                <div class="circle-details ">
                    <p class="text-graish mb-10px" style="font-size: 14px;"><i class="fa-regular fa-clock"></i>
                        Posted {{groupAge}}
                    </p>
                    <div class="joint">
                        <div>
                            <a href="/website/privateGroup/{{_id}}">
                                <h4 class="mb-0">{{../decryption groupName}}</h4>
                            </a>
                            <p class="mb-0 paragraph"><b>{{inc members.length}}</b> <span
                                    class="text-graish">Members</span>
                                •
                                <b>40+</b> <span class="text-graish">Prayer</span>
                            </p>
                        </div>
                        <div>

                            {{#if (eq isAdmin true)}}
                            <button class="btn btn-outline-custom circle-group-button invite-list" value="invite"
                                groupId={{_id}}>Invite</button>
                            {{else if (eq isMember true)}}
                            <a href="/website/invite" class="btn btn-outline-custom" circle-group-button value="joined"
                                groupId={{_id}}>Joined</a>
                            {{else if (eq isRequested true)}}
                            <button class="btn btn-outline-custom circle-group-button" value="requested" groupId={{_id}}
                                disabled="true">Requested</button>
                            {{else}}
                            <a href="/website/join/{{_id}}" class="btn btn-outline-custom circle-group-button"
                                value="join" groupId={{_id}}>Join </a>
                            {{/if}}
                        </div>
                    </div>
                    <p class="text-graish mt-15 para"> {{../decryption description}}
                        <a href="/website/privateGroup/{{_id}}" class="read-mode">Read
                            More</a>
                    </p>
                    <div class="count-circle mt-15">
                        <div class="circle-history">
                            <h5><img src="../../assets/images/icons/pray.svg" alt="" class="img-fluid me-1"> <span
                                    class=" badge-up" style="font-weight: 500;">2k</span></h5>
                            <h6>I am praying now</h6>
                        </div>
                        <div class="circle-history">
                            <h5><img src="../../assets/images/icons/folded.svg" alt="" class="img-fluid me-1"> <span
                                    class=" badge-up" style="font-weight: 500;">2k</span></h5>
                            <h6>I already prayed</h6>
                        </div>
                        <div class="circle-history">
                            <h5><img src="../../assets/images/icons/bible.svg" alt="" class="img-fluid me-1"> <span
                                    class=" badge-up" style="font-weight: 500;">2k</span></h5>
                            <h6>I will pray later</h6>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}

        </div>
    </div>
</section>

<div class="modal fade " id="invite" tabindex="-1" aria-labelledby="exampleModalCenterTitle" aria-modal="true"
    role="dialog">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 600px;">
        <div class="modal-content">
            <div class="modal-header border-0 justify-content-center">
                <h1 class="modal-title text-color fs-5" id="exampleModalLiveLabel">Invite Friends</h1>
            </div>
            <div class="modal-body donate-modal">

                <form action="" class="">
                    <div id="search-list" class="position-relative">
                        <input type="text" class="form-control form-custom ps-3" style="width: 100%;"
                            placeholder="Search...">
                        <a href="#" class="btn btn-danger search-icon"
                            style="right: 0;
                        padding: 10px 18px;
                        margin-top: 0px;
                        border-top-left-radius: 0px !important;border-bottom-left-radius: 0px !important;border-radius: 16px;"><i class="fa fa-search"></i></a>
                    </div>
                    <a href="#">
                        <div class="user-details d-flex align-items-center gap-2 mt-3">
                            <div class="d-flex justify-content-center align-items-center rounded-circle"
                                style="width: 36px;height: 36px;background-color: #F0F8FF;">
                                <i class="fa fas fa-user text-color"></i>
                            </div>
                            <div class="user-share d-flex align-items-center justify-content-between gap-2">
                                <p class="mb-0 fw-600 text-color">Invite a Friend</p>
                            </div>

                        </div>
                    </a>
                    <hr style="border: 1px solid #e6e6e6;">
                    <div class="user-person">
                        <h5 class="fs-16 fw-600 mb-0">Send Invite to Friends</h5>
                        <ul class="ps-0 mt-3 scrollbar" id="scroll">
                        </ul>
                    </div>
                    <div class="text-center">
                        <a href="#" class="btn btn-custom mt-0">Done</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



{{>websiteFooter}} {{{body}}}
<script>
    $(document).ready(function () {
        $(".invite-list").click(function (event) {
            console.log("this", this)
            const groupId = $(this).attr("groupid");
            console.log(groupId);

            $.ajax({
                url: `/website/list/non-members/${groupId}`,
                type: 'GET',
                dataType: 'json', // added data type
                success: function (res) {
                    console.log("res", res);
                    $("#invite").modal("show");

                    let data = "";

                    res.forEach(el => {
                        data += ` <li class="invite-person">
                                <a href="">
                                    <div class="person-imgg d-flex align-items-center gap-3">
                                        <img src="../../assets/images/userImage/${el.image}" alt="" width="60" height="60"
                                            class="rounded-circle">
                                        <p class="mb-0 fw-600 fs-16 text-color">${el.name}</p>
                                    </div>
                                </a>
                                <a href = "/website/invite/${groupId}/${el.id}" class="fs-16 text-green fw-600" id = "xyz">Invite</a>
                            </li>`
                    })

                    $('#scroll').html(data);
                },
            });

        })
    })
</script>

<script>
    $(document).ready(function () {
        $('#list-search').on('keyup', function () {
            var searchText = $(this).val().toLowerCase();
            $('tbody tr').each(function () {
                var name = $(this).find('td:nth-child(3)').text().toLowerCase();
                if (name.startsWith(searchText)) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        });
    });
</script>